{% extends "base.html" %}
{% block content %}

    <h5  class="text-muted" style="text-align:left">{{ contract.title }}</h5>
    <p>{{ contract.description|linebreaks }}</p>
    <div style="background-color:#fff; padding:2rem; text-align:left;">
        {{ contract.filled_contract|safe }}
    </div>

    <!--<h5  class="text-muted" style="text-align:left">Erforderliche Eingaben</h5>-->
    <div class="m-5">

        <form action="." method="post">
            {% csrf_token %}
            {{ param_form.management_data }}

            <table class="mb-3">
            {% for field in params_form %}
{#                {% if field.field.widget|is_checkbox %}#}
{#                  {{ field }}{{ field.label_tag }}#}
{#                {% else %}#}
                <tr>
                    <td style="text-align:right; vertical-align: bottom;">{{ field.label_tag }}</td>
                    <td>&nbsp;</td>
                    <td style="vertical-align: top; height:38px;">{{ field }}</td>
                </tr>
{#                {% endif %}#}
            {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </table>

            <input type="submit" name="preview" value="Vorschau" />
            <input type="submit" name="print" value="PDF erstellen" />
        </form>
    </div>

    {#    <form action="." method="post" enctype="application/x-www-form-urlencoded">#}
    {#    {% csrf_token %}#}
    {#    <table class="m-5">#}
    {#    {% for el in params_form %}#}
    {#        <tr>#}
    {#            <td style="text-align:right">{{ el }}: &nbsp;</td>#}
    {#            <td><input type="text" id="{{ el }}" name="{{ el }}" value="" /></td>#}
    {#        </tr>#}
    {#    {% endfor %}#}
    {#    </table>#}
    {#        <button type="submit">Auf geht's!</button>#}
    {#    </form>#}


    {#    <h2>Wir haben folgende Parameter geliefert bekommen</h2>#}
    {#    <table>#}
    {#    {% for param in paramListFeedback %}#}
    {#        <li>{{ param }}</li>#}
    {#    {% endfor %}#}
    {#    </table>#}
    {##}
    {#    <!--<div class="alert alert-danger mt-5">#}
    {#        Ich glaub mit den Umlauten müss ma aufpassen, bzw evtl als Schlüssel ev sowieso "leerzeichenlosen Strings" umwandeln?#}
    {#    </div>-->#}



{% endblock content %}