{% extends "base.html" %}
{% load i18n static %}
{% block content %}
    <div class="container ">
        <div class="d-flex justify-content-center flex-column text-center">
            <h1 class="text-muted">Willkommen zu Contract Management</h1>
            <p>Die Content Management Plattform für Contract Management!</p>
            <div class="m-3">
                <img src="{% static "contracts/Images/Justicia.PNG" %}" class="img-fluid" alt="Picture Justicia">
            </div>
        </div>
    </div>
{% endblock content %}