{% extends "base.html" %}
{% block content %}
    <article>
        <header>
            <h2 class="text-muted">Impressum</h2>
        </header>
        <div class="container text-left">
            <p>Erika Musterfrau</p>
            <p>Musterstrasse 1, Stiege 1 Tür 1<br>
                1234 Musterhausen<br>
                Musterland</p>
            <p>
                <b>Tel.:</b> 01234/56789<br>
                <b>Fax:</b> 01234/56789-0<br>
                <b>E-Mail:</b> office@musterfirma.com
            </p>
        </div>
    </article>
{% endblock content %}