{% extends "base.html" %}
{% block content %}
    <div class="container ">
        <div class="d-flex justify-content-center flex-column text-center" >

            <h3>Liste der verfügbaren Verträge</h3>
            <!--<ul>-->
                {% for contract in contracts %}
                    <div class="card mb-4" style="box-shadow: 3px 3px 5px 6px #ccc;">
                        <h5 class="card-header bg-success text-white">{{ contract.title }}</h5>
                        <div class="card-body" style="background: bisque">
                            <h5 class="card-title">Erstellungsdatum: {{ contract.create_date|date:'d-M-Y' }}</h5>
                            <p class="card-text text-left">{{ contract.description }}</p>
                            <a href="{% url 'detail' contract.id %}" class="btn btn-success">Vertrag ansehen</a>
                        </div>
                    </div>
                {% endfor %}
            <!--</ul>-->
        </div>
    </div>

{% endblock content %}