{% extends "base.html" %}
{% block content %}
    <header>
        <h2 class="text-muted">Geschäftsbedingungen</h2>
    </header>
    <article>
        <div class="container text-left">
            <header>
                <h4>Offenlegung nach § 25 Mediengesetz</h4>
            </header>
            <section>
                <header>
                    <h5>Medieninhaber:</h5>
                </header>
                <div>
                    <p>
                        Django LHT Project ist eine Kooperation zwischen dem Juridikum Wien (Anna Bal und
                        Viktoria Fichtenbauer) und der
                        Fachhochschule Campus Wien (Felix Voglsam und Stefan Schmitzhofer sowie Wolfgang Eisenhut).
                    </p>
                </div>
            </section>
            <section>
                <header>
                    <h5>Zweck:</h5>
                </header>
                <div>
                    <p>
                        Das Projekt dient der Ausbildung der Studenten.
                    </p>
                </div>
            </section>
                        <section>
                <header>
                    <h5>Ausrichtung des Mediums: </h5>
                </header>
                <div>
                    <p>
                        Die Informationen und Verträge werden kostenlos zur Verfügung gestellt.
                    </p>
                </div>
            </section>
            <section>
                <header>
                    <h5>Haftungsausschluss:</h5>
                </header>
                <div>
                    <p>
                        Alle Angaben sind sorgfältig recherchiert, es wird jedoch für die Richtigkeit keine Gewähr
                        übernommen. Im Hinblick auf die technischen Eigenschaften des Internet kann keine Gewähr für die
                        Authentizität, Richtigkeit und Vollständigkeit der im Internet zur Verfügung gestellten
                        Informationen übernommen werden. Es wird auch keine Gewähr für die Verfügbarkeit oder den
                        Betrieb
                        der gegenständlichen Homepage und ihrer Inhalte übernommen. Jede Haftung für unmittelbare,
                        mittelbare oder sonstige Schäden, unabhängig von deren Ursachen, die aus der Benutzung oder
                        Nichtverfügbarkeit der Daten und Informationen dieser Homepage erwachsen, wird, soweit rechtlich
                        zulässig, ausgeschlossen.
                    </p>
                </div>
            </section>
        </div>
    </article>
{% endblock content %}