body {
    background:url('https://i.dlpng.com/static/png/277128_preview.png') no-repeat center left #aaa
}
#root {
    min-height: 96vh;
    background: #eee;
    margin: 2vh auto;
}

#heading{
    /*background-color: white;*/
    /*color: red;*/
}
