{% load i18n static %}<!doctype html>
<html lang="de" style="color: blanchedalmond">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "contracts/style/css/contracts.css" %}" type="text/css" media="screen">
    <title>Contract Management</title>
</head>
<body>
<div id="root" class="container">
<div class="container p-3">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <a class="navbar-brand" href="{% url 'index' %}">CM</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contracts' %}">Verträge <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'impressum' %}">Impressum</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'policy' %}">Geschäftsbedingungen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin:index' %}" target="_blank">Admin</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</div>
<main role="main">
    <div class="container p-4">
        <div class="row justify-content-center text-center">
            <div class="col-8">
            <div class="p-2 " style="background: cornflowerblue; color: blanchedalmond">
                <h1 class="mt-2" id="heading">LHT Contract Management</h1>
            </div>
                <hr class="mt-0 mb-4">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</main>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script type="text/javascript">
    function toggleOption(target) {
        // alert($(target).find(':last-child').);
        // alert($(target).children(':last-child'));
        if (target.checked)
            //$(target).children('.optional').show();
            $(target).siblings('.optional').show()
        else
            // $(target).children('.optional').hide();
            //$(target).find('.optional').hide()
            $(target).siblings('.optional').hide()
    }
</script>
<style type="text/css">
    .optional { display:none; } /* Standardmäßig ausgeblendet */
    .optHead { font-weight:bold; } /* Optional Checkbox Style */
</style>
</body>
</html>